<div class="row">
  <div class="col-2">
    Donde Latinoamerica se reune
  </div>
  <div class="col">
    <h1>Hotel Costanera del Sur</h1>

    <ul>
      <li>Huespedes</li>
      <li>Reservas Resto</li>
    </ul>
  </div>
</div>
