<div class="row">
  <div class="col">
    <h1>Bienvenido a Hotel Costanera del Sur</h1>
  </div>


  <table class="table">
    <thead>
    <tr>
      <th scope="col">Hotel</th>
      <th scope="col">Direccion</th>
      <th scope="col">Numero para Reservas</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Costanera Sur</td>
      <td>
        <a href="https://www.google.com.ar/maps/search/%09Calle+falsa+123/">
          Calle falsa 123
        </a>
      </td>

      <td>
        <a href="tel:+54912345">+54 9 12345</a>
      </td>



    </tr>
    <tr>
      <td>Costanera Norte</td>
      <td>
        <a href="https://www.google.com.ar/maps/search/%09Calle+falsa+321/">
          Calle falsa 321
        </a>
      </td>
      <td>
        <a href="tel:+54954321<">+54 9 54321</a>
      </td>

    </tr>
    </tbody>
  </table>


</div>
